[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DirichletReg"]
	path = DirichletReg
	url = https://github.com/maiermarco/dirichletreg
[submodule "REdaS"]
	path = REdaS
	url = https://github.com/cran/REdaS
[submodule "prefmod"]
	path = prefmod
	url = https://github.com/cran/prefmod
